In [1]:
import requests
import json
import pandas as pd
import numpy as np
import re
import dask.dataframe as dd
from dask.multiprocessing import get

In [2]:
with open('data/my_points.json') as file:
    data = json.load(file)

In [3]:
data.keys()

dict_keys(['Batu Pahat', 'Johor Bahru', 'Kluang', 'Kota Tinggi', 'Kulai', 'Tangkak', 'Mersing', 'Muar', 'Pontian', 'Segamat', 'Baling', 'Bandar Baharu', 'Kota Setar', 'Kuala Muda', 'Kubang Pasu', 'Kulim', 'Langkawi', 'Padang Terap', 'Pendang', 'Pokok Sena', 'Sik', 'Yan', 'Bachok', 'Gua Musang', 'Jeli', 'Kota Bharu', 'Kuala Krai', 'Machang', 'Pasir Mas', 'Pasir Puteh', 'Tanah Merah', 'Tumpat', 'Bandar Tun Razak', 'Batu', 'Bukit Bintang', 'Cheras', 'Kepong', 'Lembah Pantai', 'Segambut', 'Seputeh', 'Setiawangsa', 'Titiwangsa', 'Wangsa Maju', 'Labuan', 'Alor Gajah', 'Jasin', 'Melaka Tengah', 'Jelebu', 'Jempol', 'Kuala Pilah', 'Port Dickson', 'Rembau', 'Seremban', 'Tampin', 'Bentong', 'Bera', 'Cameron Highlands', 'Jerantut', 'Kuantan', 'Lipis', 'Maran', 'Pekan', 'Raub', 'Rompin', 'Temerloh', 'Batang Padang', 'Hilir Perak', 'Hulu Perak', 'Kampar', 'Kerian', 'Kinta', 'Kuala Kangsar', 'Larut Matang Selama', 'Manjung', 'Perak Tengah', 'Perlis', 'Barat Daya', 'Seberang Perai Selatan', 'Seberang Perai Tengah', 'Seberang Perai Utara', 'Timur Laut', 'Putrajaya', 'Beaufort', 'Beluran', 'Keningau', 'Kinabatangan', 'Kota Belud', 'Kota Kinabalu', 'Kota Marudu', 'Kuala Penyu', 'Kudat', 'Kunak', 'Lahad Datu', 'Nabawan', 'Papar', 'Penampang', 'Pitas', 'Putatan', 'Ranau', 'Sandakan', 'Semporna', 'Sipitang', 'Tambunan', 'Tawau', 'Tenom', 'Tongod', 'Tuaran', 'Asajaya', 'Bau', 'Belaga', 'Betong', 'Bintulu', 'Dalat', 'Daro', 'Julau', 'Kanowit', 'Kapit', 'Kuching', 'Lawas', 'Limbang', 'Lubok Antu', 'Lundu', 'Marudi', 'Matu', 'Meradong', 'Miri', 'Mukah', 'Pakan', 'Samarahan', 'Saratok', 'Sarikei', 'Selangau', 'Serian', 'Sibu', 'Simunjan', 'Song', 'Sri Aman', 'Tatau', 'Hulu Selangor', 'Klang', 'Kuala Langat', 'Kuala Selangor', 'Sabak Bernam', 'Sepang', 'Gombak', 'Petaling', 'Hulu Langat', 'Besut', 'Dungun', 'Hulu Terengganu', 'Kemaman', 'Kuala Terengganu', 'Marang', 'Setiu'])

In [6]:
d_arr = []
for key in data.keys():
    if key == 'Petaling' or key == 'Putrajaya' or key == 'Klang' or key == 'Jasin':
        d_arr.extend(data[key])
    
df = pd.DataFrame(d_arr, columns=['lon', 'lat'])
df.head()

          lon      lat
0  102.315886  2.22995
1  102.315886  2.23295
2  102.318886  2.22995
3  102.318886  2.23295
4  102.318886  2.23595

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16998 entries, 0 to 16997
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lon     16998 non-null  float64
 1   lat     16998 non-null  float64
dtypes: float64(2)
memory usage: 265.7 KB

In [8]:
data = dd.from_pandas(df, npartitions=30)

In [9]:
data.head()

          lon      lat
0  102.315886  2.22995
1  102.315886  2.23295
2  102.318886  2.22995
3  102.318886  2.23295
4  102.318886  2.23595

In [10]:
data

Dask DataFrame Structure:
                    lon      lat
npartitions=30
0               float64  float64
567                 ...      ...
...                 ...      ...
16443               ...      ...
16997               ...      ...
Dask Name: from_pandas, 30 tasks

In [11]:
cookies = {}

headers = {
    'Host': 'mysejahtera.malaysia.gov.my',
    'Accept': 'application/json',
    'Connection': 'keep-alive',
    'Content-Length': '77',
    'Authorization': 'Basic N0ZFRkRCMTMtN0Q2MC00NEQxLUE5MTctM0',
    'Content-Type': 'application/json',
    'Accept-Language': 'en-MY;q=1, ms-MY;q=0.9',
    'User-Agent': 'MySejahtera/1.0.36 (iPhone; iOS 14.76; Scale/2.00)',
}

params = (
    ('type', 'search'),
)

def get_cases(row):
    data = [{"lat": row['lat'], "lng": row['lon']}]
    data = json.dumps(data)
    while True:
        try:
            response = requests.post('https://mysejahtera.malaysia.gov.my/register/api/nearby/hotspots', 
                                     headers=headers, 
                                     params=params, 
                                     cookies=cookies, 
                                     data=data,
                                    timeout = 1)
            break
        except:
            pass
        
    r = response.json()
    try:
        return int(re.findall('\d+ kes', r['messages']['ms_MY'])[0].replace(' kes', ''))
    except:
        return 0

In [ ]:
%%time
res = data.map_partitions(lambda df: df.apply((lambda row: get_cases(row)), axis=1)).compute()

In [ ]:
# %%time

# df['cases'] = df.apply(get_cases, axis=1)

In [ ]:
my_cases = []
for p in df.values.tolist():
    my_cases.extend([p])

In [ ]:
with open('my_cases.json', 'w') as ofile:
    json.dump(my_cases, ofile)